{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _job_logo_widget %}
    {% if form.vars.data %}
        <img class="media-object" style="width: 100px; height: 100px;" src="{{ asset(jobs_web_directory ~ '/' ~ form.vars.data) }}"><br>
    {% endif %}

    {{ form_widget(form) }}
{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-4">{{ 'Job edit'|trans }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">{{ 'Edit'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}